<!DOCTYPE html>
<html>
<head>
  <title>Ecm files backend</title>
  <%= stylesheet_link_tag    "ecm/files/backend/application", media: "all" %>
  <%= javascript_include_tag "ecm/files/backend/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
